html body{
    margin: 0px;
    padding: 0px;
}

.top{
    position: relative;
    width: 100%;
    background-color: #363636;
}

@font-face{
    font-family: "social media";
    src: url("Smartphone\ Color\ Pro.ttf") format("ttf");
}

.imgMain{
    position: relative;
    margin-top: 20px;
    margin-bottom: 40px;
}


.collapsible{
  border-radius: 10px;
}
.collapsible-header{
  border-bottom: 1px solid #f1f1f1;
  border-radius: 10px;
}
.imageApp{
  border-radius: 5px;
}
.collapsible-body{
  border-bottom: 1px solid #f1f1f1;
  border-radius: 10px;
}
  .fa-facebook {
    
    color: white;
  }

  .fa-instagram {
    
    color: white;
  }
  
  .fa-twitter {
    
    color: white;
  }

.mainText{
    
    position: relative;
    margin: 25px;
    
    border-radius: 5px;
}

.rowNav{
    padding-bottom: 20px;
}

.mainText:hover{
    cursor: default;
}

hr.style1 {
    
    border: 0;
    height: 1px;
    background-color: #bdbdbd   ;
}


