*{

	margin: 0;

	border: 0;

}

body, html{

	font-family: 'Nunito', sans-serif;
}




.carousel-caption a{

	text-decoration: none;

	color: white;
}

a:hover{

	text-decoration: none;

	color: gray;

}

h1{

	text-align: center;

	margin: 10px;
}

h2{

	font-size: 2vw;

	margin: 10px;
}

p{

	

	bottom: 0;

	font-size: 1vw;

	margin: 10px;

	float: left;
}

