html, body{

	margin:0;

	padding: 0;

	background: #f2efef;

	font-family: 'Nunito', sans-serif;
}

nav{

	background: white;

	border-bottom: 1px solid black;

}



.responsive-nav{

	display: none;
	border-bottom: solid #dbdbdb 1px;

	margin-bottom: 0px;

}

h2{

	text-align: center;
}



.imagen img{



	width: 100%;

		height: auto;

}



.content{



	margin: auto;

	background: white;

	width: 60%;

	align-content: center;

	margin-top: 10px;

	border: 1px solid #dbdbdb;

	margin-bottom: 10px;

	
		
}

.content-text{


	margin: auto;

	background: white;

	width: 60%;

align-content: center;
	margin-top: 10px;

	border: 1px solid #dbdbdb;

	margin-bottom: 10px;

	
		
}

h1{

	text-align: center;

	font-size: 2.5vw;

}
h3{

	font-size: 2vw;

	text-align: center;
}



.content-text td{

	font-size: 1vw;

	align-content: center;

	text-align: center;

	padding-left: 100px;

	padding-right: 100px;

	padding-top: 25px;

	text-align: justify;
}

.content-text td p{

	align-content: center;

	text-align: center;

	padding: 10px;

	margin-top: 10px;


}

#img td img{


	width: 30%;
	height:auto;

	padding-bottom: 10px;
}

#img td{

	align-content: center;

	text-align: center;
}



@media(max-width: 1024px){

	.content{



	margin: auto;

	background: white;

	width: 99%;

	align-content: center;

	margin-top: 10px;

	border: 1px solid #dbdbdb;

	margin-bottom: 10px;

	
		
}

.content-text td{

	font-size: 2vw;

	padding-left: 25px;

	padding-right: 25px;


}

#img td img{


	width: 25%;
	height:auto;

	padding-bottom: 10px;
}

#img td{

	align-content: center;

	text-align: center;
}

.content-text{



	margin: auto;

	background: white;

	width: 99%;


	margin-top: 10px;

	border: 1px solid #dbdbdb;

	margin-bottom: 10px;

	
		
}

	.imagen img{

		width: 100%;

		height: auto;

	}

	h1{
		
		font-size: 4vw;

	}

	h3{

		font-size: 3vw;
	}

}