.carousel-caption,h3{

	margin-right: 0;
width: 50%;
	
	
}

.carousel-caption,p{





	float: right;
}

.carousel-caption{

	border-radius: 25px;
	right: 0;

	left: auto;



	width: 40%;


	
}




h3{



	border-radius: 10px;

	background: #333333;

	width: 100%;

	padding-top: 5%;

	padding-bottom: 5%;

	font-size: 2vw;
}





@media(max-width: 900px){


		.carousel-caption, h3{

			border-radius: 5px;

			position: absolute;

			margin:0;

			top: 50%;

		}
		.carousel-indicators{

			display: none;		

		}
	
	

}