.top-nav{

	width: 100%;

	

}

.logo{

	width: 3%;

	height: auto;

	transform: translateX(-50%);
  	left: 50%;
  	position: relative;




}



.menu{

	transform: translateX(-30%);
 	left: 93%;
  	position: relative;

	width: 1.5%;

	height: auto;

	opacity: .7;

	cursor: pointer;


	
}

.responsive-nav{

	

	display: none;
	border-bottom: solid #dbdbdb 1px;

	margin-bottom: 0px;
}

.tabla{

	width: 100%;

	
	



	
}

a{

	margin: 0 auto;

	color: #333;

}

a:hover{

	color: #f78080;

	text-decoration: none;
}

.tabla td{

	
		border-radius: 10px;

	padding: .5%;
	font-size: 2vw;
		
	text-align: center;
	
	cursor: pointer;



}

.tabla td a{

	height: 100%;

	display: block;

	

}

.tabla td:hover{

	background: #e2e2e2;

	font-size: 2vw;
		
	text-align: center;
	
	cursor: pointer;



}

@media(max-width: 1024px){



	.tabla td{

		padding: 2vw;


	}

	.logo{

		padding-top: 1%;

		padding-bottom: 1%;
	}

	.responsive-nav{

	display: none;

	margin-bottom: 0px;

	border-bottom: solid #dbdbdb 1px;
}

.menu{



	width: 3%;

	height: auto;

	transform: translateX(-20%);

 	left: 90%;




	
}

.logo{

	width: 5%;

	height: auto;




}

}